@model CarNegotiator.Models.Dealer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dealer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rememberMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rememberMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isEmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isEmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastLoginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastLoginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentGatewayId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentGatewayId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.newlistemailnotify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newlistemailnotify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.newlistsmsnotify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newlistsmsnotify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lowerbidemailnotify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lowerbidemailnotify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lowerbidsmsnotify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lowerbidsmsnotify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closenextdayemailnotify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closenextdayemailnotify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closenextdaysmsnotify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closenextdaysmsnotify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closedemailnotify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closedemailnotify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closedsmsnotify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closedsmsnotify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
