@model IEnumerable<CarNegotiator.Models.RequestsBidsVM>
@{
    /**/

    ViewBag.Title = "Manage Car Requests";
}

@Html.Partial("_HeaderPartial", "Manage Request and Bids")


<script type="text/javascript">
        $(function () {
            $('.bids').click(function () {

                var id = $(this).data('assigned-id');
                var route = '@Url.Action("CarDetails", "Car")?id=' + id;
                $('#partial').load(route);
            });

    });


</script>




<div class="container-fluid">
    <div id="table" class="table-editable">
        <table class="table table-bordered  table-responsive-md table-striped text-center" id="RequestsGrid">
            <tr>

                <th class="text-center">Car</th>
                <th class="text-center">Colors</th>
                <th class="text-center">Finance Approved?</th>
                <th class="text-center">Province</th>
                <th class="text-center">Town</th>
                <th class="text-center">Requested Date</th>
                <th class="text-center">Bid Closing Date</th>
                <th class="text-center">Lowest Bid</th>
                <th class="text-center">Your Bid</th>
                <th class="text-center">Bid </th>
                <th class="text-center">Reject</th>
            </tr>
            @foreach (var item in Model)
            {

                int i = 0;
                using (Html.BeginForm("ProcessBids", "Dealer", FormMethod.Post, new { id = "form" }))
                {
                    i++;
                    <tr>
                        <td class="pt-3-half">
                            <input type="hidden" id="requestId" name="requestId" value=@item.requestId />
                            <input type="hidden" id="bidId" name="bidId" value=@item.bidId />
                            <input type="hidden" id="dealerId" name="dealerId" value=@item.dealerId />
                            
                            <span class="table-remove">
                                <a href="#" class="bids" style="text-decoration: underline;color:blue" data-assigned-id=@item.carVariantId data-toggle="modal" data-target="#exampleModalLong"> @item.car</a>
                               
                            </span>
                        </td>
                        <td class="pt-3-half">@item.Colors </td>
                        <td class="pt-3-half">@item.isFinanceApproved</td>
                        <td class="pt-3-half">@item.Province </td>
                        <td class="pt-3-half">@item.Town</td>
                        <td class="pt-3-half">@item.requestedDate.ToShortDateString()</td>
                        <td class="pt-3-half">@item.BidClosingDate.ToShortDateString() </td>
                        <td class="pt-3-half">@item.WinningBid </td>
                        <td class="pt-3-half"><input type="text" id="YourBid" name="YourBid" value=@item.YourBid /></td>
                        <td class="pt-3-half">
                            <span class="table-remove">
                                @*@Html.ActionLink("Bid", "Bid", new { requestId = item.requestId, dealerId = item.dealerId, bidId = item.bidId, yourBid = item.YourBid }, new { @class = "btn btn-success btn-rounded btn-sm my-0" })*@
                                <button class="btn btn-success btn-rounded btn-sm my-0" type="submit" name="Bid" value="Bid">Bid</button>
                            </span>
                        </td>
                        <td class="pt-3-half" contenteditable="false">
                            <span class="table-remove">
                                <button class="btn btn-success btn-rounded btn-sm my-0" type="submit" Name="Reject" value="Reject">Reject</button>
                                @*@Html.ActionLink("Reject", "Reject", new { id = item.requestId, dealerId = item.dealerId, bidId = item.bidId }, new { @class = "btn btn-warning btn-rounded btn-sm my-0" })*@
                            </span>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<!-- Modal: modalCart -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Car Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div id="partial"></div>
            </div>
            <!--Footer-->

        </div>
    </div>
</div>

