<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Auto Negotiator</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/shards.min.css?v=2.1.0">
    <link rel="stylesheet" href="~/Content/css/shards-demo.min.css?v=2.1.0">


    <link rel="icon" href="~/Content/images/logo/car.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="~/Content/Libraries/MDB-Free_4.5.11/css/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/Libraries/MDB-Free_4.5.11/css/style.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Content/Libraries/MDB-Free_4.5.11/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Libraries/MDB-Free_4.5.11/js/mdb.min.js"></script>
    <link href="~/Content/css/sites.css?v=2.1.0" rel="stylesheet">
</head>
<body>


    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black fixed-top">
        <a class="navbar-brand" href="#">
            <img src="~/Content/images/logo/logo.png" width="40" height="40" alt="">
        </a>
        <a class="navbar-brand text-light" href="index.html">Auto Negotiator</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Client")">Client Site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Admin")">Admin Site</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ManageRequests", "Dealer")">Manage Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Register", "Dealer")">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Dealer")">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("FAQ", "Dealer")">FAQ</a>
                </li>

                @if (Session["UserName"] != null)
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Logout", "Dealer")">

                            <button type="button" class="btn btn-squared btn-success  my-2 p-2">
                                <i class="fa fa-lock mr-1"></i>@Session["UserName"], Logout
                            </button>
                        </a>
                    </li>

                }

                else
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Login", "Dealer")">
                            <button type="button" class="btn btn-squared btn-success  my-2 p-2">
                                <i class="fa fa-lock mr-1"></i>Login
                            </button>
                        </a>
                    </li>

                }
            </ul>

        </div>

    </nav>
    @RenderBody()


    <br /><br /><br /><br /><br /><br /><br /><br />
    <!-- Footer -->
    <footer class="py-3 bg-dark fixed-bottom">

        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Auto Negotiator 2018</p>
        </div>
        <!-- /.container -->
    </footer>



    <!-- Bootstrap core JavaScript -->

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/Content/js/shards.min.js"></script>
    <script src="~/Content/js/demo.js"></script>


    <!-- MDB core JavaScript -->




</body>

</html>
